* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
h1 {
  margin-bottom: 2.5vh;
}

#calculator {
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(198, 200, 206);
  box-shadow: 0 4px 8px #00000033;
}

input {
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 2px auto;
}
input:disabled {
  background-color: #ffffff;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2vw;
  transition: 0.2s;
}
#buttons button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  cursor: pointer;
  margin: 2px auto;
}
