* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: white;
}
h1 {
  margin-bottom: 2.5vh;
}

#calculator {
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #899dbb;
  box-shadow: 0 4px 8px #f8f8f856;
}

input {
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 2px auto 0;
  overflow: hidden;
}
input:disabled {
  background-color: #121212;
  color: white;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px 1vw 4vh;
}
#buttons button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  cursor: pointer;
  margin: 2px auto;
  transition: 0.2s;
  box-shadow: #00000094 3px 5px 5px;
}
#buttons button:active {
  transform: translateY(2px);
  box-shadow: none;
}
.add {
  background-color: darkslateblue;
  color: white;
  border: 2px solid white;
}
.ops {
  background-color: rgb(81, 177, 206);
  color: white;
  border: 2px solid #d4d4d4;
}
